<f:layout name="Default" />

This template is a gallery that requires jQuery FancyBox and jQuery FancyBox Buttons from here:
http://fancyapps.com/fancybox/
Download them and include them like this with TypoScript:
 page {
  includeJS.fancybox = fileadmin/template/fancyBox/source/jquery.fancybox.pack.js
  includeJS.fancybuttons = fileadmin/template/fancyBox/source/helpers/jquery.fancybox-buttons.js
  includeCSS.fancybox = fileadmin/template/fancyBox/source/jquery.fancybox.css
  includeCSS.fancybuttons = fileadmin/template/fancyBox/source/helpers/jquery.fancybox-buttons.css
 }
Note: if you want to copy this HTML-file to your fileadmin-folder, you can specifty the folder like this:
  plugin.tx_camaliga.view.templateRootPaths.1 = fileadmin/template/files/
Copy this file in a subfolder named "Content" of this folder.

<f:section name="main">
<f:flashMessages />

<f:if condition="{contents -> f:count()} > 0">
<f:then>
<script type="text/javascript">
jQuery(document).ready(function() {
  $("a.fancybox").fancybox({
		prevEffect		: 'none',
		nextEffect		: 'none',
		closeBtn		: false,
		helpers		: {
			title	: { type : 'inside' },
			buttons	: {}
		}
  });
});
</script>
<p class="camaliga_fancy">
<f:for each="{contents}" as="content" iteration="iteration">
	<f:if condition="{content.falimage.uid}"><f:then>
		<a href="{f:uri.image(src:content.falimage.uid,treatIdAsReference:1)}" rel="fancybox{uid}" class="fancybox" title="{content.title}" id="bild{uid}{iteration.cycle}"><f:image src="{content.falimage.uid}" alt="{content.title}" title="{content.title}" maxWidth="{settings.img.thumbWidth}" maxHeight="{settings.img.thumbHeight}" treatIdAsReference="1" /></a>
  	</f:then></f:if>
</f:for>
</p>
</f:then>
<f:else>
  <p><f:translate key="nothing" default="Nothing found." /></p> 
</f:else>
</f:if>
</f:section>